<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cszj.ps">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 必须的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 推荐的权限 -->
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_96"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_96"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.StartActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.ConnhostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BindActivity"
            android:screenOrientation="portrait"/>

        <meta-data android:name="BDAPPID" android:value="15198386"/>
        <meta-data android:name="BDAPPKEY" android:value="Y0CsAeMuglAat4HaH0EYAumdL05cWPKH"/>

        <provider
            android:authorities="com.cszj.ps.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/bdp_update_filepaths"/>
    </provider>

    </application>

</manifest>